/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.container{
  width: 1500px;
  margin: 0 auto;
}
.NavbarBtn{
  color: white;
  background-color: blue;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.NavbarTitle{
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
} */
